body {
    background-color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#izbornik {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}