body {
    background-color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#izbornik {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color:azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#nedostajuPodatci {
    color: brown;
    font-size: 15px;
}

.pizze {
    display: flex;
    flex-wrap: wrap;
}

.slikaPizze {
    max-width: 400px; 
    height: auto;
}

.pizzeItem {
    margin: 4%
}

.wrapMe {
    max-width: 80%;
}

@media screen and (max-width: 768px) {
    /* Styles for mobile devices */
    .pizze {
        max-width: 90%;
        flex-direction: column; /* Stack items vertically */
    }
    .slikaPizze {
        max-width: 75%;
        height: auto;
    }
    .pizzeItem {
        max-width: 80%
        margin: 4%
    }
    
}